<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Tecnologias principales</h3>
            <ul class="social-links">
                <li><p>Angular</p></li>
                <li><p>Tailwind</p></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Mis datos</h3>
            <ul>
                <li><p>Nombre: Alex Iancu</p></li>
                <li><p>Instituto: IES El cañaveral</p></li>
                <li><p>Curso: 2 DAM</p></li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <h3>Contacto</h3>
            <p>Teléfono: Que te lo has creido</p>
            <p>Email: iiancu@educa.madrid.org</p>
        </div>
    </div>
</footer>