<nav class="flex justify-between items-center bg-linear-to-bl from-cyan-700 to bg-cyan-500 text-white p-4 border-b-2 border-b-cyan-950">
    <div class="text-2xl font-bold">
        <h1>Tienda de Cosas</h1>
    </div>
    <ul class="list-none flex gap-6 m-0">
        <li><a class="text-white decoration-0 font-medium transition-colors duration-300 hover:text-amber-600 cursor-pointer" 
                routerLink="" routerLinkActive="active">Inicio</a></li>

        <li><a class="text-white decoration-0 font-medium transition-colors duration-300 hover:text-amber-600 cursor-pointer"
                routerLink="catalogo" routerLinkActive="active">Catálogo</a></li>

        <li><a class="text-white decoration-0 font-medium transition-colors duration-300 hover:text-amber-600 cursor-pointer"
                routerLink="deseados" routerLinkActive="active">Lista de Deseados</a></li>

        <li><a class="text-white decoration-0 font-medium transition-colors duration-300 hover:text-amber-600 cursor-pointer"
                routerLink="carrito" routerLinkActive="active">Carrito</a></li>
    </ul>
</nav>